<% @cars.each do |car| %>
 <div>
    <p><strong><%= car.description %></strong>
    <p><%= car.color %></p>
    <p><%= car.year %></p>
    <p><%= car.mileage %></p>

    <%#= link_to car.color, dog %>
    <%#= link_to "Destroy #{.name}", dog, method: :delete %>
  </div>
<% end %>
